<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    </div>
    <!-- Left side: variant form -->
    <div class="ui-g-4 center">
        <!-- <br>{{ addAssignmentForm.value | json }} -->
        <p-panel class="" header="Login">

            <form class="card card-w-title" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <fieldset>
                    <!-- <legend>Login</legend> -->

                    <div>
                        &nbsp;
                    </div>

                    <div class="">
                      
                        <label for="">Username</label>
                        <div class="ui-inputgroup" [pTooltip]="'Ex.Field Test Vaiants Evaluation'">
                            <input type="text" pInputText placeholder="" formControlName="username">
                        </div>
                    </div>

                    <div>
                        &nbsp;
                    </div>

                    <div class="">
                       
                        <label for="">Password</label>
                        <div class="ui-inputgroup" [pTooltip]="'Ex.Field Test Vaiants Evaluation'">
                            <input type="text" pInputText placeholder="" formControlName="password">
                        </div>
                    </div>

                    <div>
                        &nbsp;&nbsp;
                    </div>



                    <div class="card card-w-title">
                        <button pButton type="submit" label="Login" icon="fa fa-sign-in" style="margin-bottom:0px; margin-right:10px"
                            class="btn-size-short ui-button-success" [disabled]="hasFormsErrors()"></button>
                   
                    
                        <button pButton (click)="cancelLogIn()" type="button" label="Cancel" icon="fa fa-times"
                            style="margin-bottom:0px" class="btn-size-short"></button>
                    </div>
                </fieldset>
            </form>
        </p-panel>
    </div>


    <p-growl [value]="messages" [immutable]="false" life="2000"></p-growl>
