.center {
    margin: auto;
    width: 40%;
    padding: 10px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.btn-size-long {
    width: 15em;
    margin-top: 2em;
}

.btn-size-short {
    width: 9em;
    margin-top: 2em;
}